body {
  height: 100vh;
  background: #34e89e;
  background: -webkit-linear-gradient(to right, #34e89e, #0f3443);
  background: linear-gradient(to right, #34e89e, #0f3443);
  font-family: "Didact Gothic", sans-serif;
  color: white;
}

.main-div {
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 30px;
  font-size: 50px;
}

.weight-div {
  margin: 20px;
}

.height.div {
  margin: 20px;
}

.result-div {
  display: flex;
  text-align: center;
  padding: 20px;
  color: #25c381;
  background: white;
  border-radius: 10px;
  margin: 40px;
}

.input-box {
  border-radius: 10px;
  height: 20px;
  margin-left: 10px;
  border: none;
  outline: none;
  text-align: center;
  color: #25c381;
}

.result-indicator {
  margin-right: 5px;
}

.method-selector {
  margin-left: 5px;
  background: rgb(34, 34, 34);
  color: #25c381;
}